.body{
    margin: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 300px 200px;
    grid-template-rows: 300px 300px 200px;
    
}
.box{
    /* height: 100px;
    width: 100px; */
    
}

.red{
    /* transform: matrix(); */
    background-color: red;
    /* animation: myanimation 20ms infinite; */
   
}
@keyframes myanimation {
    0%{
        transform:translate(-100);
        rotate:90deg;
        scale:0%;
    }

    50%{
        transform:translate(-100);
        rotate:100deg;
        scale:50%;
    }

    100%{
        transform:translate(100%);
        rotate:360deg;
        scale:100%;
    }
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}